<div>

    <div class="row justify-content-center">
        <div class="col-9">

            <div class="row justify-content-center">
                <div class="col-8">
                    <app-page-header [heading]="'Gerenciando entregadores'"></app-page-header>
                </div>
                <div class="col-2">
                    <div class="row justify-content-end">

                        <btn-cadastrar 
                            [routerLink]="['/entregadores-adicionar']"
                            [routerLinkActive]="['router-link-active']"
                        ></btn-cadastrar>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="row justify-content-center table-content">

        <div class="col-8">
            <dx-data-grid 
                id="gridContainer" 
                [dataSource]="entregadores" 
                [allowColumnReordering]="true"
                [showBorders]="true"
                [rowAlternationEnabled]="true">

                <dxi-column
                    caption="ID" 
                    dataField="id"
                    [width]="135"
                ></dxi-column>
                <dxi-column 
                    caption="Foto"
                    dataField="entregadores" 
                    [width]="115" 
                    [allowFiltering]="false"
                    [allowSorting]="false" 
                    cellTemplate="cellFoto"
                ></dxi-column>
                <dxi-column dataField="nome"></dxi-column>
                <dxi-column dataField="email"></dxi-column>
                <dxi-column 
                    caption="Ações" 
                    dataField="entregadores" 
                    [width]="115" 
                    [allowFiltering]="false"
                    [allowSorting]="false" 
                    cellTemplate="cellAcoes"
                ></dxi-column>

                <div *dxTemplate="let data of 'cellAcoes'">
                    <btn-editar 
                        (click)="editar(data.row.data)" 
                        title="Editar"
                    ></btn-editar>
                    <btn-excluir 
                        (click)="validarExclusao(data.row.data)"
                        title="Excluir"
                     ></btn-excluir>
                </div>

                <div *dxTemplate="let data of 'cellFoto'">
                    <div *ngIf="data.foto == '' || data.foto == null" class="circulo">
                        <span>LZ</span>
                    </div>
                </div>
                
                <dxo-search-panel 
                    [visible]="true" 
                    [width]="240" 
                    placeholder="Buscar por entregador"
                ></dxo-search-panel>

                <dxo-paging [pageSize]="10"></dxo-paging>
                <dxo-pager  
                    [visible]="true"
                    [showPageSizeSelector]="true"
                    [allowedPageSizes]="[10, 25, 50, 100]"
                ></dxo-pager>
            </dx-data-grid>
        </div>
    </div>
</div>
<validation-popup
    [visible]="abrirPopup"
    [TargetObject]="entregadorPopup"
    text="Deseja realmente excluir este registro?"
    (response)="getRetornoValidacao($event)"
></validation-popup>

