<div class="">
    <dx-chart
        [title]="title" 
        [dataSource]="options.dataSource" 
        [barGroupPadding]="0.2">
    
        <dxi-series
            *ngFor="let info of options.infos"
            [valueField]="info.valueName"
            [name]="info.description">
        </dxi-series>
        
        <dxo-common-series-settings 
            [argumentField]="options.valueId" 
            type="bar"
            hoverMode="allArgumentPoints" 
            selectionMode="allArgumentPoints" 
            [barPadding]="0.1">

            <dxo-label 
                [visible]="true" 
                [format]="{
                    type: 'fixedPoint',
                    precision: '0'
                }">
            </dxo-label>
        </dxo-common-series-settings>

        <dxo-legend
            verticalAlignment="bottom"
            horizontalAlignment="center"
            itemTextPosition="bottom">
        </dxo-legend>
    </dx-chart>
</div>