<div class="row ml-auto justify-content-md-center">
    <div class="col-8">
        <div class="row">
            <div class="col-6">
                <app-page-header *ngIf="this.destinatario == null" [heading]="'Cadastro de destinatário'">
                </app-page-header>

                <app-page-header *ngIf="this.destinatario != null" [heading]="'Edição de destinatário'">
                </app-page-header>

                <!--
                <span *ngIf="this.entregador == null">Cadastro de entregadores </span>
                    <span *ngIf="this.entregador != null">Edição de Entregadores </span>-->
            </div>
            <div class="col-5">
                <div class="row justify-content-end">
                    
                    <btn-voltar [routerLink]="['/destinatarios']" [routerLinkActive]="['router-link-active']">
                    </btn-voltar>

                    <btn-salvar [disabled]="!form.valid" (click)="adicionar()"></btn-salvar>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row ml-auto justify-content-md-center">
    <div class="panel-cadastro col-7">
        <form [formGroup]="form">
            <div class="row">
                <div class="col-12 ">
                    <span>Nome</span>
                    <input type="text" class="form-control" formControlName="nome" autofocus required>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <span>Rua</span>
                    <input type="text" class="form-control" formControlName="rua" required>
                </div>
                <div class="col-3">
                    <span>Número</span>
                    <input type="text" class="form-control" formControlName="numero">
                </div>
                <div class="col-3">
                    <span>Complemento</span>
                    <input type="text" class="form-control" formControlName="complemento">
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <span>Cidade</span>
                    <input type="text" class="form-control" formControlName="cidade" required>
                </div>
                <div class="col-4">
                    <span>Estado</span>
                    <input type="text" class="form-control" formControlName="estado" r equired>
                </div>
                <div class="col-4">
                    <span>CEP</span>
                    <input type="text" class="form-control" formControlName="cep" required>
                </div>
            </div>
        </form>
    </div>
</div>