<dx-popup 
    [width]="370" 
    [height]="100" 
    [showTitle]="showTitle" 
    [title]="title" 
    [dragEnabled]="false"
    [closeOnOutsideClick]="true" 
    [(visible)]="visible">

    <div *dxTemplate="let data of 'content'">

        <div class="row">
            <div class="col-12">
                <p>{{text}}</p>
            </div>
        </div>
        <div class="row justify-content-end">
            <button (click)="noResponse()" class="btn button-popup button-grey">{{rightButton}}</button>
            <button (click)="yesResponse()" class="btn button-popup">{{leftButton}}</button>
        </div>
    </div>
</dx-popup>