<div>
    <!--<app-page-header [heading]="'Dashboard'"></app-page-header>

    Preciso fazer:
    Qtd Encomendas x Entregador
    Qtd Problemas x Entregador
    Qtd Encomendas x Estado
    Qtd Encomendas x Cidade
    Qtd Encomendas x Cliente
    encomendas por mês
    -----
    pra cada gráfico, coloca uma opção pro usuário escolher se ele quer de barras ou de pizza

    esse último pode deixar fixo um gráfico de linhas-->

    <div class="row justify-content-center">
        <h2>Dashboard</h2>

    </div>

    <div *ngIf="carregar" class="dashboard">
        <div class="row justify-content-center">
            <div class="col-9">
                <div class="row justify-content-center">
                    <div class="col-10">
                        <div class="card dashboard-line">
                            <div class="card-body">
                                <dashboard-line title="Encomendas por Entregador" [options]="dadosEncomendasPorMes">
                                </dashboard-line>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row justify-content-center">
                    <div class="col-5">
                        <div class="card dashboard-bars">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-11">
                                        <div class="row justify-content-center">
                                            <span>Encomendas por Entregador</span>
                                        </div>
                                    </div>
                                    <div class="col-1">
                                        <div class="row justify-content-end">
                                            <btn-chart-change 
                                                buttonID="encPorEntregador" 
                                                [icon]="getIcone('encPorEntregador')" 
                                                (click)="trocarGrafico('encPorEntregador')"
                                            ></btn-chart-change>
                                        </div>
                                    </div>
                                </div>

                                <dashboard-bars *ngIf="validarGrafico('bar_chart','encPorEntregador')"
                                    [options]="dadosEncomendasPorEntregador">
                                </dashboard-bars>

                                <dashboard-pie *ngIf="validarGrafico('pie_chart','encPorEntregador')"
                                    [options]="dadosEncomendasPorEntregador">
                                </dashboard-pie>
                            </div>
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="card dashboard-bars">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-11">
                                        <div class="row justify-content-center">
                                            <span>Problemas por Entregador</span>
                                        </div>
                                    </div>
                                    <div class="col-1">
                                        <div class="row justify-content-end">
                                            <btn-chart-change 
                                                buttonID="probPorEntregador" 
                                                [icon]="getIcone('probPorEntregador')" 
                                                (click)="trocarGrafico('probPorEntregador')"
                                            ></btn-chart-change>
                                        </div>
                                    </div>
                                </div>

                                <dashboard-bars *ngIf="validarGrafico('bar_chart','probPorEntregador')"
                                    [options]="dadosProblemasPorEntregador">
                                </dashboard-bars>

                                <dashboard-pie *ngIf="validarGrafico('pie_chart','probPorEntregador')"
                                    [options]="dadosProblemasPorEntregador">
                                </dashboard-pie>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row justify-content-center">
                    <div class="col-5">
                        <div class="card dashboard-bars">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-11">
                                        <div class="row justify-content-center">
                                            <span>Encomendas por Estado</span>
                                        </div>
                                    </div>
                                    <div class="col-1">
                                        <div class="row justify-content-end">
                                            <btn-chart-change 
                                                buttonID="encPorEstado" 
                                                [icon]="getIcone('encPorEstado')" 
                                                (click)="trocarGrafico('encPorEstado')"
                                            ></btn-chart-change>
                                        </div>
                                    </div>
                                </div>

                                <dashboard-bars *ngIf="validarGrafico('bar_chart','encPorEstado')"
                                    [options]="dadosEncomendasPorEstado">
                                </dashboard-bars>

                                <dashboard-pie *ngIf="validarGrafico('pie_chart','encPorEstado')"
                                    [options]="dadosEncomendasPorEstado">
                                </dashboard-pie>
                            </div>
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="card dashboard-bars">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-11">
                                        <div class="row justify-content-center">
                                            <span>Encomendas por Cidade</span>
                                        </div>
                                    </div>
                                    <div class="col-1">
                                        <div class="row justify-content-end">
                                            <btn-chart-change 
                                                buttonID="encPorCidade" 
                                                [icon]="getIcone('encPorCidade')" 
                                                (click)="trocarGrafico('encPorCidade')"
                                            ></btn-chart-change>
                                        </div>
                                    </div>
                                </div>

                                <dashboard-bars *ngIf="validarGrafico('bar_chart','encPorCidade')"
                                    [options]="dadosEncomendasPorCidade">
                                </dashboard-bars>

                                <dashboard-pie *ngIf="validarGrafico('pie_chart','encPorCidade')"
                                    [options]="dadosEncomendasPorCidade">
                                </dashboard-pie>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row justify-content-center">
                    <div class="col-5">
                        <div class="card dashboard-bars">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-11">
                                        <div class="row justify-content-center">
                                            <span>Encomendas por Cliente</span>
                                        </div>
                                    </div>
                                    <div class="col-1">
                                        <div class="row justify-content-end">
                                            <btn-chart-change 
                                            buttonID="encPorCliente" 
                                            [icon]="getIcone('encPorCliente')" 
                                            (click)="trocarGrafico('encPorCliente')"
                                        ></btn-chart-change>
                                        </div>
                                    </div>
                                </div>

                                <dashboard-bars *ngIf="validarGrafico('bar_chart','encPorCliente')"
                                    [options]="dadosEncomendasPorCliente">
                                </dashboard-bars>

                                <dashboard-pie *ngIf="validarGrafico('pie_chart','encPorCliente')"
                                    [options]="dadosEncomendasPorCliente">
                                </dashboard-pie>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>