<div>
    <!--<app-page-header [heading]="'Home'"></app-page-header>-->

    Preciso fazer:
    Qtd Encomendas x Entregador
    Qtd Problemas x Entregador
    Qtd Encomendas x Estado
    Qtd Encomendas x Cidade
    Qtd Encomendas x Cliente
    encomendas por mês
    -----
    pra cada gráfico, coloca uma opção pro usuário escolher se ele quer de barras ou de pizza

    esse último pode deixar fixo um gráfico de linhas

    <div *ngIf="carregar" class="row">
        <div class="col-10">

            <dashboard-line title="Encomendas por Entregador" [options]="dadosEncomendasPorMes"></dashboard-line>
        </div>
        <div class="col-5">
            <dashboard-bars title="Encomendas por Entregador" [options]="dadosEncomendasPorEntregador"></dashboard-bars>
        </div>
        <div class="col-5">

            <dashboard-pie title="Encomendas por Entregador" [options]="dadosEncomendasPorEntregador"></dashboard-pie>
        </div>

    </div>

</div>