::ng-deep .caption {
   font-size: 18px;
   font-weight: 500;
}

::ng-deep .dx-toolbar-after {
  left: 0 !important ;
}

::ng-deep .dx-datagrid-header-panel, ::ng-deep .dx-toolbar{
   background-color: #F4F6F6 !important;
}  

