
.login-panel{
    padding: 10px;
    margin: 0 auto;
    margin-top: 70px;
    background-color: white;
    box-shadow: 0px 0px 15px 2px #1314;
    border-radius: 5px;
    width: 300px;
    height: 330px;
}

.div-img{
    padding: 10px;
}

img{
    padding: 10px;
    width: 180px;
    height: 50px;    
}

.form-input{
    width: 200px;
    padding: 2px;
    border-radius: 1px;
    border: solid;
    border-width: 1px;
    border-color: #c0c0c0;
}

.login-button{
    width: 245px;
}

$topnav-background-color: #3366FF;
.login-page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    background: $topnav-background-color;
    text-align: center;
   // color: #fff;
    padding: 3em;
    .col-lg-4 {
        padding: 0;
    }
    .input-lg {
        height: 46px;
        padding: 10px 16px;
        font-size: 18px;
        line-height: 1.3333333;
        border-radius: 0;
    }

    .form-group {
        padding: 8px 12px 0 12px;
        input::-webkit-input-placeholder {
            color: rgba(255, 255, 255, 0.6) !important;
        }

        input:-moz-placeholder {
            /* Firefox 18- */
            color: rgba(255, 255, 255, 0.6) !important;
        }

        input::-moz-placeholder {
            /* Firefox 19+ */
            color: rgba(255, 255, 255, 0.6) !important;
        }

        input:-ms-input-placeholder {
            color: rgba(255, 255, 255, 0.6) !important;
        }
    }
}
