.btn-padrao{
    padding-top: 7px;
    padding-left: 12px;
    padding-right: 12px;
    margin: 5x !important;
    color: white !important;
    background-color: #007bff !important;
    border-color: #007bff !important;
}

.btn-sair:hover{
    color: red;
}