.button{
    padding-left: 0.2em;
    padding-right: 0.2em;
}

.button:hover{
    cursor: pointer;
}

.btn-padrao{
    padding-top: 7px;
    padding-left: 12px;
    padding-right: 12px;
    margin: 5px !important;
    color: white !important;
    background-color: #007bff !important;
    border-color: #007bff !important;
}

.btn-sair:hover{
    color: red;
}