
// ICONS

.icon{
    vertical-align: initial;
    font-size:19px !important;
}

.more_horiz{
    color: grey;
    cursor: pointer;
}

.icon-visualizar{
    color: blueviolet;
}

.icon-editar{
    color: #007bff ;
}

.icon-excluir{
    color: red;
}

.icon-report-problem{
    color:orange;
}


