<div class="row ml-auto justify-content-md-center">
    <div class="col-7">
        <div class="row">
            <div class="col-5">
                <app-page-header [heading]="'Cadastro de problema'"> </app-page-header>
            </div>
            <div class="col-7">
                <div class="row justify-content-end">
                    <btn-voltar [routerLink]="['/encomendas']" [routerLinkActive]="['router-link-active']"></btn-voltar>
                    &nbsp;
                    <btn-salvar [disabled]="!form.valid" (click)="adicionar()"></btn-salvar>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row ml-auto justify-content-md-center">
    <div class="panel-cadastro col-7">

        <div class="row">
            <div class="col-4">
                <span>Entregador</span>
                <span class="form-control disabled">{{encomenda.entregador.nome}}</span>
            </div>
            <div class="col-5">
                <span>Encomenda</span>
                <span class="form-control disabled">{{encomenda.produto}}</span>
            </div>
            <div class="col-3">
                <span>Status</span>
                <mat-select class="form-control" [(value)]="selStatus">
                    <mat-option value="ENTREGUE">ENTREGUE</mat-option>
                    <mat-option value="CANCELADO">CANCELADO</mat-option>
                    <mat-option value="PENDENTE">PENDENTE</mat-option>
                    <mat-option value="RETIRADA">RETIRADA</mat-option>
                </mat-select>
            </div>
        </div>
        <br />
        <form [formGroup]="form">

            <div class="row">
                <div class="col-12">
                    <span>Descrição</span>
                    <textarea class="form-control" formControlName="descricao" name="descricao" cols="20" rows="5" required></textarea>
                </div>
            </div>
        </form>
    </div>
</div>