.circulo{
    background-color: #F5B7B1;
}

/* Column Widths */
.mat-column-encomenda {
    max-width: 15px;
}

.mat-column-problema {
    max-width: 90px;
}

.mat-column-acoes {
    max-width: 5px;
}