<div>
    

    <div class="row justify-content-center">
        <div class="col-9">

            <div class="row justify-content-center">
                <div class="col-10">
                    <app-page-header [heading]="'Problemas na entrega'"></app-page-header>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center table-content">
        
        <div class="col-8">
            <dx-data-grid 
                id="gridContainer" 
                [dataSource]="problemas" 
                [allowColumnReordering]="true"
                [showBorders]="true"
                [rowAlternationEnabled]="true">

                <dxi-column
                    caption="Encomenda" 
                    dataField="encomenda.id"
                    [width]="160"
                ></dxi-column>
                <dxi-column caption="Problema"  dataField="descricao" [width]="760" ></dxi-column>
                <dxi-column 
                    caption="Ações" 
                    dataField="problemas" 
                    [width]="120" 
                    [allowFiltering]="false"
                    [allowSorting]="false" 
                    cellTemplate="cellAcoes"
                ></dxi-column>

                <div *dxTemplate="let data of 'cellAcoes'">
                    <btn-visualizar 
                        (click)="visualizar(data.row.data)"
                        title="Visualizar"
                    ></btn-visualizar>
                     <a (click)="cancelarEncomenda(data)">
                        <i class="material-icons icon icon-excluir"> delete_forever </i>
                    </a>
                </div>

                <dxo-editing mode="row" [allowDeleting]="false">
                    <dxo-texts 
                        confirmDeleteMessage="Deseja realmente excluir este registro?"
                    ></dxo-texts>
                </dxo-editing>
                
                <dxo-search-panel 
                    [visible]="true" 
                    [width]="240" 
                    placeholder="Buscar por problema"
                ></dxo-search-panel>

                <dxo-paging [pageSize]="10"></dxo-paging>
                <dxo-pager  
                    [visible]="true"
                    [showPageSizeSelector]="true"
                    [allowedPageSizes]="[10, 25, 50, 100]"
                ></dxo-pager>
            </dx-data-grid>
        </div>
    </div>
</div>