<div>
    <app-page-header [heading]="'Problemas na entrega'"></app-page-header>

    <div class="row justify-content-center table-content">
        <!-- Table -->
        <div class="col-12 col-sm-12 col-md-12 col-lg-11 col-xl-8">
            <table mat-table [dataSource]="problemas" matSort class="mat-elevation-z4">
                <!-- ID -->
                <ng-container matColumnDef="encomenda">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Encomenda </th>
                    <td mat-cell *matCellDef="let problema"> #{{problema.encomenda.id}} </td>
                </ng-container>

                <!-- Nome -->
                <ng-container matColumnDef="problema">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Problema </th>
                    <td mat-cell *matCellDef="let problema"> {{problema.descricao}} </td>
                </ng-container>

                <!-- acoes -->
                <ng-container matColumnDef="acoes">
                    <th mat-header-cell *matHeaderCellDef> Ações</th>
                    <td mat-cell *matCellDef="let problema">

                        <div ngbDropdown class="d-inline-block">
                            <a class="btn-acoes" id="dropdown" ngbDropdownToggle>
                                <i class="material-icons more_horiz"> more_horiz </i>
                            </a>
                            <div ngbDropdownMenu aria-labelledby="dropdown">

                                <btn-visualizar ngbDropdownItem (click)="visualizar(problema)">
                                </btn-visualizar>                                

                                <a ngbDropdownItem (click)="cancelarEncomenda(problema)">
                                    <i class="material-icons icon icon-excluir"> delete_forever </i>
                                    Cancelar Encomenda
                                </a>
                            </div>
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="colunas"></tr>
                <tr mat-row *matRowDef="let row; columns: colunas;"></tr>
            </table>
            <div>
                <!-- Pagination
                <mat-paginator></mat-paginator> -->
            </div>
        </div>
    </div>
</div>